* {
    box-sizing: border-box;
}

body {
    font-family: monospace, sans-serif;
    background-color: #EEE;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

h2 {
    margin-top: 2.5rem;
}

.left, .right {
    padding: 1rem;
}

.left {
    padding-top: 2.5rem;
    width: 100%;
    flex-shrink: 0;
}

.left aside {
    display: flex;
    justify-content: center;
}

.left aside img {
    border-radius: 5%;
    max-width: 100%;
    width: 12rem;
}
